/* GENERAL */

body {
    font-size : 14px;
}

h1 {
    font-size : 1.2rem;
}

@media screen and (min-width : 992px) {
    h1 {
        font-size : 2rem;
    }
}
/* NAVBAR */

nav {
    position : fixed;
}

.nav-link:hover {
    font-weight : 600;
}


/* CAROUSEL */

.carousel-pic {
    filter : grayscale(1);
}

/* CONTENT */

#presentation {
    background : lightpink;
}

#events {
    background : lightgreen;
}