/* GENERAL */
html {
    scroll-behavior: smooth;
}
body {
    font-size : 14px;
}
h1 {
    font-size : 1.2rem;
}
h4 {
    font-size : 1.1rem;
}
small {
    font-style : italic;
    font-size : 0.8rem;
    line-height: 1px;
}
@media screen and (min-width : 992px) {
    h1 {
        font-size : 2rem;
    }
    p {
        padding-left : 10px;
        padding-right : 10px;
    }
    blockquote {
        padding-right : 10px;
    }
    small {
        font-size : 1rem;
    }

    h4 {
        font-size : 1.3rem;
    }
    footer p {
        font-size : 2rem;
    }
}

/* NAVBAR */

#nav {
    position : fixed;
    z-index: 999;
    width : 100%;
    top : 0;
}
.nav-link:hover {
    font-weight : 600;
}

/* CAROUSEL */

.carousel-pic {
    filter : grayscale(1);
}

/* CONTENT */

#presentation {
    background : #fff;
}
#title {
    background : #004693;
    color : #fff;
    height : 50px;
    align-items: center;
    margin-top : 100px;
}
#events {
    background : #004693;
    color : #fff;
}
#mission > li {
    font-weight : 600;
    padding-bottom : 10px;
}
article img {
    display : block;
    margin : auto;
    margin-bottom : 10px;
    width : 100%;
    position : relative;
}

/* EVENTS */

.card-img {
    filter : grayscale(1);
}

